@charset "utf-8";

.menu_central_header_miTorneo_imagen { background: url(../images/template/banner/ca/ImagenMiTorneo2_ca.png) left center no-repeat;}
.menu_central_header_miComunidad_imagen { background: url(../images/template/banner/ca/ImagenMiComunidad2_ca.png) left center no-repeat;}
.menu_central_header_miEquipo_imagen { background: url(../images/template/banner/ca/ImagenMiEquipo2_ca.png) left center no-repeat;}
.menu_central_header_miJugador_imagen { background: url(../images/template/banner/ca/ImagenMiJugador2_ca.png) left center no-repeat;}

.error404_imagen { background: url(../images/error/error404_ca.jpg) left center no-repeat;}
.error500_imagen { background: url(../images/error/error500_ca.jpg) left center no-repeat;}